/* ==========================================
	Animations
========================================== */

.animate{
	opacity: 0;
	padding-top: 50px;
	@include transition(all, ease-in-out, .2s);

	&.slow{
		@include transition(all, ease-in-out, .5s);
	}

	&.slideIn{
		opacity: 1;
		padding-top: 0;
	}
}
