/* ==========================================
	Footer
========================================== */
#footer {
  padding: 50px 0 0;
  background: $off-white;
  color: $black;
  font-size: 100%;

  #footer-logo {
    width: 100%;
    height: 90px;
    background-position: left;
    border-radius: 0;
  }

  .fdl {
    margin-top: 15px;
    display: inline-block;
    font-weight: 600;
    background: none;
  }

  p {
    strong {
      font-size: 120%;
    }
  }

  a {
    color: $black;
  }

  ul.socials li a i {
    color: $primary !important;
  }
  ul.socials li a:hover i {
    color: $secondary !important;
  }

  ul.menu {
    margin: 0;
    padding: 0;

    li {
      margin: 0 5px;
      display: inline-block;

      a {
        font-weight: bold;
        text-transform: none;

        &:hover {
          color: $secondary;
        }
      }

      ul.sub-menu {
        display: block;
        margin: 0;
        padding: 0;

        li {
          margin-left: 0;
        }
      }
    }
  }

  .menu {
    ul {
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;
      padding-left: 0;
      list-style-type: none;

      .children {
        display: none;
      }
    }
  }

  hr {
    border-color: $light-grey;
  }

  .copyright {
    font-weight: 600;

    a {
      background-image: none;
    }
  }
}
