/* ==========================================
	Globals
========================================== */

html {
  margin: 0;
  padding: 0;
}

body,
html {
}

body {
  font-size: 16px;
  line-height: 1.6;
  color: $black;
  font-family: $sans;
  font-weight: 400;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  background: $white;
  @include defaultTransition;
}

.container {
  padding: 0 15px;
  max-width: 1200px;
}

.container-fluid section {
  position: relative;
  padding: 0;

  &.primary {
    background: $primary;
  }
  &.secondary {
    background: $secondary;
  }
  &.off-white {
    background: $grey;
    .text-wrapper {
      color: $black;
    }
  }
  &.white {
    background: $white;
    .text-wrapper {
      color: $black;
    }
  }
  &.black {
    background: $black;
    .text-wrapper {
      color: $white;
    }
  }

  &.bg {
    padding: 120px 0 0;
    .overlay {
      margin-top: -120px;
    }
  }

  .full_flex,
  .column_flex,
  .cards_flex,
  .combo_flex,
  .post_flex {
    padding: 50px 15px;
  }
}
::selection,
-moz::selection {
  background: $secondary;
  color: $white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: $header;
  margin-bottom: 15px;

  a {
    color: inherit;
    text-transform: inherit;
  }
}

.highlight {
  position: relative;
  display: inline;
  width: 100%;

  &:after {
    content: "";
    display: block;
    position: absolute;
    background: $off-white;
    height: 20px;
    margin-top: -20px;
    margin-left: -12px;
    width: 110%;
    z-index: -1;
    transform: skew(-15deg, 0);
  }
}

p {
  margin-bottom: 15px;

  a {
    color: $primary;
    background-image: linear-gradient(90deg, $trans 1%, $primary 1%);
    background-size: 100% 10%;
    background-position: bottom left;
    background-repeat: repeat-x;
    @include defaultTransition;

    &:hover {
      background-size: 10000% 10%;
      color: $primary;
    }

    &:active,
    &:focus {
      font-weight: bold;
      color: $primary;
    }
  }
}

a {
  color: $primary;
  @include defaultTransition;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    outline: none;
  }

  &.button {
    text-transform: none;
    padding: 10px 25px;
    color: $white;
    background: $primary;
    border-radius: 10px;
    font-size: 100%;
    font-weight: 900;
    margin: 0 0 15px;

    i {
      @include defaultTransition;
      margin-left: 10px;
    }

    &:hover {
      background: $secondary;
      color: $white;

      i {
        margin-left: 20px;
      }
    }

    &.inverted {
      text-transform: none;
      color: $primary;
      padding: 0;

      &:hover {
        &:after {
          width: 100%;
        }
        background: $trans;
        color: $primary;
      }

      &:hover {
      }

      &:after {
        content: "";
        width: 100%;
        height: 1px;
        background: $primary;
        position: absolute;
        bottom: 0;
        left: 0;
        @include defaultTransition;
      }

      &:hover {
        &:after {
          width: 0%;
        }
      }
    }
  }
}

/* ======= Repeated Page Elements ======= */

section.hero {
  background-size: cover;
  background-repeat: no-repeat;

  .hero-text {
    padding: 100px 0 50px;
  }
}

.carousel-item {
  padding: 25px 0;
  color: var(--black);
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel-navigation {
  .button {
    height: 30px;
    width: 30px;
    padding: 0;
    line-height: 30px;
    border-radius: 50%;
    background: var(--secondary);
    color: var(--white);

    i {
      padding: 0;
      margin-left: 0;
      color: var(--white);
    }

    &.carousel-prev {
      background: var(--white);
      color: var(--secondary);
      font-family: $icon;

      i {
        color: var(--secondary);
      }
    }

    &:hover > i {
      margin: 0;
      padding: 0;
    }
  }
}

.vcenter {
  align-items: end;

  .image-wrapper {
    width: 350px;
    height: auto;
    border-radius: 140px 20px;
    box-shadow: 20px 25px 0px -4px rgba(0, 0, 0, 0.08);

    &.circle {
      border-radius: 50%;
      box-shadow: none;
    }
  }
}

.image-block {
  width: 100%;
  height: auto;
}

.image-wrapper {
  position: relative;
  min-height: 350px;
  width: 350px;

  &.shape {
    display: none;
  }
}

.icon-lg {
  font-size: 250%;
}

.card {
  background: $white;
  @include border-radius(10px);

  .image-wrapper {
    width: 100%;
    height: auto;
    min-height: 200px;
    margin: 0;
    padding: 0;
    position: relative;
    background-size: cover;
    @include defaultTransition;
  }

  .card-body {
    .icon.image-wrapper {
      height: 120px;
      width: 120px;
    }

    a.button {
      position: absolute;
      bottom: 10px;
    }
  }

  &.top {
    border-bottom: none;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 5px;
      border-radius: 5px 5px 0 0;
      background: $secondary;
    }
  }

  &.simple {
    background: $trans;

    .card-body {
      padding: 0 0 20px 0;
    }
  }
}

.title {
  font-weight: bold;
  color: $black;
  font-weight: 900;
  font-size: 112.5%;
}
.sub-title {
  font-size: 75%;
  color: var(--dk-blue);
  font-weight: bold;
  margin-bottom: 5px;
}

blockquote {
  border: none;
  width: 60%;
  margin: 0 auto;
  padding: 50px 0;
  font-weight: 800;

  strong {
    line-height: 0.6;
    font-weight: 400;
    font-family: $script;
    font-size: 500%;
  }
}

.postItem {
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
  padding: 25px;
}

ul.socials {
  li {
    a {
      i {
        color: $primary !important;
      }
    }
  }
}
.sidebarBlock {
  padding: 15px;
  margin-bottom: 40px;

  ul.sidebar-posts {
    list-style-type: none;
    padding: 1px;
    li {
      padding: 7px 0;
      border-bottom: 1px solid $dark-grey;
      i {
        color: $secondary !important;
      }
      a {
        color: $black !important;
        margin-left: 3px;
      }
    }

    .text-right {
      float: right;
    }
  }
  h3 {
    font-size: 23px;
    margin-bottom: 0;
  }
  #mc_embed_signup_scroll {
    input {
      width: 100%;
      border-radius: 50px;
      border: 1px solid $dark-grey;
      padding: 5px 20px;
    }
  }

  #searchsubmit {
    width: 100%;
    border-radius: 50px;
    border: 1px solid #d1d1d1;
    padding: 0;
    background: none;

    i {
      color: $white;
      background: $secondary;
      padding: 13px;
      border-radius: 50px;
      float: right;
    }

    h3 {
      margin-bottom: 0;
    }
  }
}
