/* ==========================================
	Sticky Nav
========================================== */

#header{
	
	.container{padding:0 15px;}
	
	#site_id{
		height:45px;
	}
	
	.navbar-nav {
		ul li{
			
			a{
				font-size:80%;
				border-bottom:3px solid $trans;

				&:hover{color:var(--oragen); 
					border-bottom-color: $secondary;}
			}
			
			&.button{
				a{
					text-transform:none;
					background:$primary;
					border-radius:15px;

					&:hover{
						background:$secondary;
						color:$white;}
					
					&:hover > :after{margin-left:20px;}
					
					&:after{
						content:'\f061';
						font-family:$icon;
						margin-left:10px;
						@include defaultTransition;}

				}
				
			}
		}
		
		.sub-menu{
			position: absolute;
			width: 230px;
			left: 0;
			top: 50px;
			background:$white;
			display: none;
			overflow: visible;
			@include border-radius(0);
			
			&:before{
				content:'';
				display:block;
				position:absolute;
				left:25px; top:-8px;
				width:0; height:0;
				border-left:8px solid transparent;
				border-right:8px solid transparent;
				border-bottom:8px solid $white;
			}
			
			li:hover{background:$trans;}
			
			li a:hover{color:$secondary !important;}
			
		}
		
	}
	
}