/* ==========================================
	Sticky Nav
========================================== */

#header {
  .container {
    padding: 0 15px;
  }

  #site_id {
    height: 60px;
  }

  .navbar-nav {
    .current-menu-item a{
        font-weight: 900;
    }

    .current-menu-parent > a{
      font-weight: 900;
      
      &:after{
        content: '';
        display: block;
        width: 50px;
        height: 0;
        margin: 0 auto;
        border-bottom: 3px solid $secondary;
      }
    }
    ul li {
      padding: 0 5px;
      a {
        border-bottom: 3px solid $trans;
        font-weight: 400;
        text-transform: initial;

        &:hover {
          color: var(--orange);
        }
      }

      &.button {
        margin-left: 25px;
        a {
          text-transform: none;
          background: $primary;
          border-radius: 7px;
          padding: 8px 18px;
          font-size: 87.5%;
          font-weight: 600;
          letter-spacing: 0;

          &:hover {
            background: $secondary;
            color: $white;
          }

          &:hover > :after {
            margin-left: 20px;
          }

          &:after {
            content: "\f105";
            font-family: $icon;
            margin-left: 10px;
            @include defaultTransition;
          }
        }
      }
    }

    .sub-menu {
      position: absolute;
      width: 230px;
      left: 0;
      top: 60px;
      background: $white;
      display: none;
      overflow: visible;
      @include border-radius(0);
      -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);

      &:before {
        content: "";
        display: block;
        position: absolute;
        left: 25px;
        top: -8px;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid $white;
      }
      li {
        padding: 3px 10px;

        &:hover{
          background:var(--off-white);

          & > a{color: var(--orange) !important;}
        }
      }

    }
  }
}
