/* ==========================================
	Variables
========================================== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
:root {
  --white: #fff;
  --off-white: #f2f4f4;
  --black: #33333d;
  --trans: transparent;
  --primary: #e07955;
  --orange: #e07955;
  --secondary: #4b608a;
  --dk-blue: #4b608a;
  --lt-blue: #d8edec;
}

/* ==========================================
	Mixins
========================================== */
/* ==========================================
	Animations
========================================== */
.animate {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$ie)";
  filter: alpha(opacity=0);
  opacity: 0;
}

.animate.fadeInUp {
  -webkit-animation: fadeInUp .5s ease-in .4s forwards;
          animation: fadeInUp .5s ease-in .4s forwards;
}

.animate.fadeInLeft {
  -webkit-animation: fadeInLeft .5s ease-in .4s forwards;
          animation: fadeInLeft .5s ease-in .4s forwards;
}

.animate.fadeInRight {
  -webkit-animation: fadeInRigt .5s ease-in .4s forwards;
          animation: fadeInRigt .5s ease-in .4s forwards;
}

.animate.fadeIn {
  -webkit-animation: fadeIn .5s ease-in .4s forwards;
          animation: fadeIn .5s ease-in .4s forwards;
}

.animate.fast {
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
}

.animate.slow {
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.animate.delay {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.animate.realy-slow {
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

@-webkit-keyframes fadeInUp {
  0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$ie)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: translateY(70px);
            transform: translateY(70px);
  }
  100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$ie)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$ie)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: translateY(70px);
            transform: translateY(70px);
  }
  100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$ie)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes fadeInLeft {
  0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$ie)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: translateX(70px);
            transform: translateX(70px);
  }
  100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$ie)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$ie)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: translateX(70px);
            transform: translateX(70px);
  }
  100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$ie)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fadeInRight {
  0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$ie)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: translateX(-70px);
            transform: translateX(-70px);
  }
  100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$ie)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$ie)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: translateX(-70px);
            transform: translateX(-70px);
  }
  100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$ie)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$ie)";
    filter: alpha(opacity=0);
    opacity: 0;
  }
  100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$ie)";
    filter: alpha(opacity=100);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$ie)";
    filter: alpha(opacity=0);
    opacity: 0;
  }
  100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$ie)";
    filter: alpha(opacity=100);
    opacity: 1;
  }
}

/* ==========================================
	Globals
========================================== */
html {
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  line-height: 1.75;
  color: #33333d;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  background: #fff;
  -webkit-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s;
}

.container {
  padding: 0 15px;
  max-width: 1400px;
}

.container-fluid section {
  position: relative;
  padding: 0;
}

.container-fluid section.primary {
  background: #e07955;
}

.container-fluid section.secondary {
  background: #4b608a;
}

.container-fluid section.grey {
  background: #f2f4f4;
}

.container-fluid section.grey .text-wrapper {
  color: #33333d;
}

.container-fluid section.white {
  background: #fff;
}

.container-fluid section.white .text-wrapper {
  color: #33333d;
}

.container-fluid section.black {
  background: #33333d;
}

.container-fluid section.bg {
  padding: 120px 0 0;
}

.container-fluid section.bg .overlay {
  margin-top: -120px;
}

.container-fluid section .full_flex,
.container-fluid section .column_flex,
.container-fluid section .cards_flex,
.container-fluid section .combo_flex,
.container-fluid section .post_flex {
  padding: 50px 15px;
}

::-moz-selection,
-moz::-moz-selection {
  background: #4b608a;
  color: #fff;
}

::selection,
-moz::selection {
  background: #4b608a;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-bottom: 15px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  text-transform: inherit;
}

.highlight {
  position: relative;
  display: inline;
  width: 100%;
}

.highlight:after {
  content: "";
  display: block;
  position: absolute;
  background: #f2f4f4;
  height: 20px;
  margin-top: -20px;
  margin-left: -12px;
  width: 110%;
  z-index: -1;
  -webkit-transform: skew(-15deg, 0);
          transform: skew(-15deg, 0);
}

p {
  margin-bottom: 20px;
}

p a {
  color: #e07955;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(1%, transparent), color-stop(1%, #e07955));
  background-image: linear-gradient(90deg, transparent 1%, #e07955 1%);
  background-size: 100% 10%;
  background-position: bottom left;
  background-repeat: repeat-x;
  -webkit-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s;
}

p a:hover {
  background-size: 10000% 10%;
  color: #e07955;
}

p a:active, p a:focus {
  font-weight: bold;
  color: #e07955;
}

a {
  color: #e07955;
  -webkit-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s;
  cursor: pointer;
}

a:hover, a:focus, a:active {
  text-decoration: none;
  outline: none;
}

a.button {
  text-transform: none;
  padding: 10px 30px;
  color: #fff;
  background: #e07955;
  border-radius: 15px;
}

a.button i {
  -webkit-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s;
  margin-left: 10px;
}

a.button:hover {
  background: #4b608a;
  color: #fff;
}

a.button:hover i {
  margin-left: 20px;
}

a.button.inverted {
  text-transform: none;
  color: #e07955;
  padding: 0;
}

a.button.inverted:hover {
  background: transparent;
  color: #e07955;
}

a.button.inverted:hover:after {
  width: 100%;
}

a.button.inverted:after {
  content: "";
  width: 100%;
  height: 3px;
  background: #e07955;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s;
}

a.button.inverted:hover:after {
  width: 0%;
}

/* ======= Repeated Page Elements ======= */
section.hero {
  background-size: cover;
  background-repeat: no-repeat;
}

section.hero .hero-text {
  padding: 100px 0 50px;
}

.carousel-item {
  padding: 100px 0;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
}

.vcenter {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.vcenter .image-wrapper {
  width: 100%;
  height: auto;
}

.image-block {
  width: 100%;
  height: auto;
}

.image-wrapper {
  position: relative;
  min-height: 450px;
}

.image-wrapper.shape {
  border-radius: 0 180px 0 60px;
  overflow: hidden;
}

.image-wrapper.white {
  background-color: #fff;
  color: #33333d;
}

.image-wrapper.grey {
  background-color: #f2f4f4;
  color: #33333d;
}

.image-wrapper.primary {
  background-color: #e07955;
}

.icon-lg {
  font-size: 250%;
}

.card {
  background: #fff;
  border-radius: 5px;
}

.card .image-wrapper {
  width: 100%;
  height: auto;
  min-height: 200px;
  margin: 0;
  padding: 0;
  position: relative;
  background-size: cover;
  -webkit-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s;
}

.card .image-wrapper.white {
  background-color: #fff;
}

.card .image-wrapper.grey {
  background-color: #f2f4f4;
}

.card .image-wrapper.primary {
  background-color: #e07955;
}

.card .card-body .icon.image-wrapper {
  height: 120px;
  width: 120px;
}

.card .card-body a.button {
  position: absolute;
  bottom: 10px;
}

.card.top {
  border-bottom: none;
  position: relative;
}

.card.top:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 5px 5px 0 0;
  background: #4b608a;
}

.card.simple {
  background: transparent;
}

.card.simple .card-body {
  padding: 0 0 20px 0;
}

.title {
  font-weight: bold;
}

.sub-title {
  font-size: 80%;
  color: var(--dk-blue);
  font-weight: bold;
}

/* ==========================================
	Layout
========================================== */
.column_flex {
  padding: 50px 0;
}

.post {
  margin-top: 50px;
}

/* ==========================================
	Sidebar
========================================== */
.sidebarBlock {
  -webkit-box-shadow: 0 0px 20px 0 rgba(204, 204, 204, 0.4);
  box-shadow: 0 0px 20px 0 rgba(204, 204, 204, 0.4);
  border-radius: 5px;
}

.sidebarBlock .image-wrapper {
  width: 100%;
  min-height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 5px 5px 0 0;
}

.sidebarBlock .content {
  padding: 10px;
}

/* ==========================================
	Sticky Nav
========================================== */
#header .container {
  padding: 0 15px;
}

#header #site_id {
  height: 45px;
}

#header .navbar-nav ul li a {
  font-size: 80%;
  border-bottom: 3px solid transparent;
}

#header .navbar-nav ul li a:hover {
  color: var(--oragen);
  border-bottom-color: #4b608a;
}

#header .navbar-nav ul li.button a {
  text-transform: none;
  background: #e07955;
  border-radius: 15px;
}

#header .navbar-nav ul li.button a:hover {
  background: #4b608a;
  color: #fff;
}

#header .navbar-nav ul li.button a:hover > :after {
  margin-left: 20px;
}

#header .navbar-nav ul li.button a:after {
  content: '\f105';
  font-family: "Font Awesome 5 Pro";
  margin-left: 10px;
  -webkit-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s;
}

#header .navbar-nav .sub-menu {
  position: absolute;
  width: 230px;
  left: 0;
  top: 50px;
  background: #fff;
  display: none;
  overflow: visible;
  border-radius: 0;
}

#header .navbar-nav .sub-menu:before {
  content: '';
  display: block;
  position: absolute;
  left: 25px;
  top: -8px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
}

#header .navbar-nav .sub-menu li:hover {
  background: transparent;
}

#header .navbar-nav .sub-menu li a:hover {
  color: #4b608a !important;
}

/* ==========================================
	Footer
========================================== */
#footer {
  padding: 50px 0 0;
  background: #f2f4f4;
  color: #33333d;
  font-size: 80%;
}

#footer #footer-logo {
  width: 80%;
  height: auto;
  background-position: top center;
}

#footer p strong {
  font-size: 120%;
}

#footer a {
  color: #33333d;
}

#footer ul.socials li a i {
  color: #e07955 !important;
}

#footer ul.socials li a:hover i {
  color: #4b608a !important;
}

#footer ul.menu {
  margin: 0;
  padding: 0;
}

#footer ul.menu li {
  margin: 0 5px;
  display: inline-block;
}

#footer ul.menu li a {
  font-weight: bold;
  text-transform: none;
}

#footer ul.menu li a:hover {
  color: #4b608a;
}

#footer ul.menu li ul.sub-menu {
  display: block;
  margin: 0;
  padding: 0;
}

#footer ul.menu li ul.sub-menu li {
  margin-left: 0;
}

/* ==========================================
	Form Styles
========================================== */
input.gform_button.button {
  position: relative;
  display: inline-block;
  height: auto;
  font-size: 90%;
  font-weight: bold;
  letter-spacing: 1.5px;
  margin: 20px 0;
  padding: 10px 40px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  outline: none;
  border: none;
  background: #4b608a;
  color: #e07955;
  float: right;
  border-radius: 10px;
  -webkit-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s;
}

/* Search Form */
.searchform div {
  position: relative;
}

.searchform div label {
  position: absolute;
  z-index: 2;
  left: 15px;
  top: 8px;
  width: 50%;
  display: inline-block;
}

.searchform div input#search {
  position: relative;
  width: 100%;
  border: none;
  padding: 0 50px 0 15px;
  height: 40px;
  line-height: 36px;
  border-radius: 20px;
}

.searchform div input#search:focus {
  outline: none;
  border: 2px solid #e07955;
  border-radius: 20px;
}

/* ==========================================
	Responsive Styles
========================================== */
@media all and (max-width: 768px) {
  .hero {
    max-height: 400px;
    min-height: 400px;
  }
  .hero .hero-text,
  .hero .text-wrapper {
    padding: 0;
  }
  .hero:after {
    bottom: 0;
  }
  .vcenter .shadow-left .image-wrapper, .vcenter .shadow-right .image-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: 40px;
  }
  .footer {
    text-align: center;
  }
  #header #header_row1 .searchform div input#search {
    margin: 15px auto;
    width: 90%;
  }
  /* Sidebar */
  .sidebarBlock .image-wrapper {
    min-height: 300px;
  }
}
/*# sourceMappingURL=main.css.map */